In [1]:
import plotly.express as px
import pandas as pd
from collections import Counter, namedtuple

In [2]:
with open('targets') as f:
    data = f.read()

In [3]:
Target = namedtuple('Target', ['name', 'score'])

In [4]:
targets = [Target(*s.split(":")) for s in data.replace(".", "").replace('''"''', "").split("\n")[:-1]]

In [5]:
target_names = [t.name for t in targets]

In [6]:
target_scores = [float("0.{}".format(int(t.score))) for t in targets]

In [7]:
zipped = zip(target_names, target_scores)

In [8]:
score_dict = dict(list(set(zipped)))

In [9]:
c = Counter(target_names)

In [10]:
df = pd.DataFrame.from_dict(c, orient='index').reset_index()
df = df.rename(columns={'index': 'target', 0:'selection_count'})

In [11]:
scores = [ score_dict[j] for j in [df['target'][i] for i in range(len(df))] ]

In [12]:
df['score'] = scores

In [13]:
df.head()

                     target  selection_count     score
0       sparkly-white-mouse               27  0.250000
1          proud-azure-goat               22  0.113907
2  custom-macaroon-starling               30  0.250000
3       gigantic-lilac-rook               35  0.250000
4        plain-brick-gibbon               33  0.250000

In [14]:
df.loc[df['score'].idxmax()]

target             curly-berry-coyote
selection_count                     1
score                         0.99855
Name: 62, dtype: object

In [15]:
df.loc[df['selection_count'].idxmax()]

target             funny-bamboo-crane
selection_count                    49
score                            0.25
Name: 200, dtype: object

In [16]:
def get_score(name):
    return score_dict[name]

In [17]:
def get_selection_count(name):
    return df.loc[df['target'] == name]

### Number of times a hotspot was targeted

In [ ]:
fig = px.bar(df, x="selection_count", y="target", orientation='h', height=5000)
fig.show()

### Target selection distribution based on score

In [ ]:
fig = px.histogram(df, x="score")
fig.show()